*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#container
{
    color: brown;
}
#title
{
    color: brown;
}
.title
{
    font-family: Arial;
    font-size: 45px;
    color: brown;
}
/* #cabecera
{
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    background: green;
    font-size: 25px;
    font-weight: bold;
    color: brown;
    padding: 0; */
}
#tagline
{
    text-align: right;
}
.main-nav{
    
    margin-top: 10px;
    list-style: none;
    padding: 0.5cm 0cm;
    padding-left: 0;
    padding-right: 0;
    background: rgb(67, 145, 145);
    font-size: 25px;
    font-family: sans-serif;
    margin: 0;
    color: #323335;
}
.main-nav__item
{
    display: inline-block;
}
.main-nav__item1
{
    display: inline-block;
}
.main-nav__item a
{
    color: #323335;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    
}
.main-nav__item1 a
{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    background-color: black;  
}
/*.main-nav__item2 a{
    color: black;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    text-align: right;
} */
.main-nav__item2{
    display: inline-block;
}
.main-nav__item a:hover{
    color: white;
}
.main-nav__item1 a:hover{
    color: white;
}
.main-nav__item a:active{
    color: blue;
}
.main-nav__item1 a:active{
    color: blue;
}

/*.main-nav__item2 a:hover{
    color: white;
}*/
main{
    width: 100%;
    height: 500px;
    padding: 20px 35px;
    background: rgb(67, 145, 145);
}